@import "tailwindcss";
body{
    background-color: aqua;
}

input,select{
    background-color: white;
    border: solid blue 2px;
    border-radius:5px;
}

button{
    border: solid black 1px;
}

tr{
    border: solid black 1px;
}

td,th{
    padding: 3px;
}